@import "tailwindcss";

/*
tailwindcss 설치

1. npm install tailwindcss @tailwindcss/vite
2. vite.config.ts에서 import 후 plugin에 넣기
3. index.css 파일 만들어서 @import "tailwindcss" 하기 (추후 공통 디자인 요소 이 파일에 넣기)
4. main.tsx에서 index.css 불러오기

*/

/* 모든 요소에 대한 기본 스크롤바 스타일 (Firefox) */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #020617; /* thumb, track */
}

/* Chrome / Edge / Safari 전용 */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #020617; /* slate-950 느낌 */
}

*::-webkit-scrollbar-thumb {
  background-color: #1e293b;  /* slate-800 정도 */
  border-radius: 9999px;
  border: 2px solid #020617;  /* 트랙이랑 맞춰서 여백 느낌 */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #334155;  /* hover 시 약간 더 밝게 */
}
